.header{
   background: linear-gradient(rgba(108, 80, 49, 0.2),rgba(108, 80, 49, 0.2)), url("./yoga-bg-1.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}