.services {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-top: -10rem;
   gap: 1rem;
   .service {
      width: 30rem;
      height: 25rem;
      flex-grow: 1;
      background-color: var(--background-color1);
      // border-radius: 2rem;
      border-top-right-radius: 14rem;
      border-top-left-radius: 14rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0rem 2rem;
      margin-bottom: 2rem;
      .service-img {
         width: 50%;
         height: 60%;
         object-fit: contain;
         display: block;
      }
      .service-title {
         color: #fff;
         font-size: 1.8rem;
      }
      .service-caption {
         color: #fff;
      }
   }
}