.yoga-classes-section {
   text-align: center;
   padding: 3rem 0;
   margin-left: -1rem;
   margin-right: -1rem;
   .yoga-classes-title {
      // font-family: ;
      font-size: 2.5rem;
      max-width: 36rem;
      margin: 0 auto 1rem auto;
   }
   .classes-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      .yoga-class-card {
         // background-color: #fff;
         background-color: var(--pink-color);
         border-radius: 2rem;
         border-top-right-radius: 11rem;
         border-top-left-radius: 11rem;
         padding: 2rem;
         margin: 0 1rem 2rem 1rem;
         // flex-grow: 1;
         overflow: hidden;
         flex: 0 0 25rem;
         height: 40rem;
         .class-banner {
            position: relative;
            border-radius: 2rem;
            border-top-right-radius: 10rem;
            border-top-left-radius: 10rem;
            overflow: hidden;
            height: 20rem;
            .class-img {
               width: 100%;
               height: 100%;
               // object-fit: cover;
            }
            .class-like {
               background-color: var(--app-bg-color);
               display: flex;
               align-items: center;
               justify-content: center;
               position: absolute;
               // top: 1.5rem;
               // right: 1.5rem;
               top: 1rem;
               right: 11rem;
               width: 6rem;
               height: 6rem;
               border-radius: 1rem;
               border-top-right-radius: 10rem;
               border-top-left-radius: 10rem;
               padding: 0.5rem 0.5rem 0 0.5rem;
               cursor: pointer;
               // .class-like-icon {
               //    width: 100%;
               //    height: 100%;
               // }
            }
            .class-price {
               background-color: #fff;
               position: absolute;
               bottom: -1rem;
               left: 0;
               right: 0;
               width: 12rem;
               margin: 0 auto;
               padding: 0.5rem 2rem;
               border-radius: 1rem;
               .class-price-text {
                  font-size: 1.6rem;
                  color: var(--background-color1);
                  text-align: center;
               }
            }
         }
         .class-title {
            font-size: 2rem;
            margin-top: 3rem;
            margin-bottom: 0.5rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
         }
         .class-caption {
            margin-bottom: 3rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
         .class-link {
            margin: 0 auto;
            color: #8d8d8d;
            background-color: rgba(141, 141, 141, 0.1);
         }
      }
   }
   .classes-all-btn {
      color: var(--background-color1);
      border: 2px solid var(--background-color1);
      background-color: transparent;
      transition: all 200ms ease-in-out;
      margin-top: 3rem;
      margin: 0 auto;
      &:hover {
         color: #fff;
         border: 2px solid var(--background-color1);
         background-color: var(--background-color1);
      }
   }

   // for the shape in background ::after
   // position: relative;
   // &::after {
   //    content: "";
   //    position: absolute;
   //    width: 100%;
   //    height: 100%;
   //    background-size: contain;
   //    background-repeat: no-repeat;
   //    background-position: bottom;
   //    // background-image: url('./sahape1.svg');
   //    // top: 0;
   //    right: 0;
   //    bottom: 0;
   //    left: 0;
   // }
}

//
@media (max-width: 380px) {
   .class-title {
      font-size: 2.4rem;
   }
}
